@import "tailwindcss";

:root {
  /* ======================
     BACKGROUNDS
  ====================== */
  --color-body: #f6f6ff;
  --color-page: #fefeff;

  /* ======================
     SIDEBAR
  ====================== */
  --color-sidebar: #343e5a;
  --color-sidebar-hover: #6f799b;
  --color-sidebar-link: #2d3652;
  /* ======================
     TEXTOS
  ====================== */
  --color-text-title: #2d2d2c;
  --color-text-table: #9c9ca7;
  --color-text-table-header: #c4c4c4;

  /* ======================
     STATES
  ====================== */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-body);
  color: var(--color-text-title);
  font-family: Arial, Helvetica, sans-serif;
}
